<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit member</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/members/{id}(id=${member.getMemberId()})}" th:object="${member}">

    <label for="full_name">Edit full name</label>
    <input type="text" th:field="*{fullName}" id="full_name">
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>

    <br>

    <label for="birth_year">Edit birth year</label>
    <input type="number" th:field="*{birthYear}" id="birth_year">
    <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>

    <br>

    <input style="visibility: hidden" type="number" th:field="*{memberId}" id="hidden_input" value=1>

    <input type="submit" value="Edit">
</form>

<script type="text/javascript">
    const input = document.getElementById("full_name")
    const hiddenInput = document.getElementById("hidden_input")
    const value = input.value
    input.addEventListener("change", (e) => {
        if (value === e.target.value) {
            hiddenInput.value = 1
        }
        else {
            hiddenInput.value = 0
        }
    })
</script>
</body>
</html>