<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Member</title>
</head>
<body>

  <form th:method="POST" th:action="@{/members}" th:object="${member}">

      <label for="fullName">Enter full name</label>
      <input type="text" th:field="*{fullName}" id="fullName">
      <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>

      <br>

      <label for="birthYear">Enter birth year</label>
      <input type="number" th:field="*{birthYear}" id="birthYear">
      <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>

      <br>

      <input type="submit" value="Create!">
  </form>
</body>
</html>